doctype html
html(lang="en")
    - var title   = 'Astranomaly'
    - var pageTag = 'Recoding Reality'
    - var jquery  = '//code.jquery.com/jquery-1.11.3.min.js'
    //- include _mixins.jade
    //- <head>
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title} | #{pageTag}
        link(rel='stylesheet', href='css/main.css')
        link(rel='icon', href='favicon.ico')
    //- <body>
    body
        //- HEADER
        header(role='banner')
        //- CONTENT
        main(role='main')
        //- FOOTER
        footer
    script(src='#{jquery}')
